// fonts
@font-face {
  font-family: "calculator";
  src: url("/calculator/src/assets/fonts/digital-7.woff") format("woff"),
    url("/calculator/src/assets/fonts/digital-7 (mono).woff") format("woff"),
    url("/calculator/src/assets/fonts/digital-7 (mono italic).woff")
      format("woff"),
    url("/calculator/src/assets/fonts/digital-7 (italic).woff") format("woff");
}
// css reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}
body {
  font-family: calculator;
}
// styles
